@import url('https://fonts.googleapis.com/css?family=Secular+One|Suez+One');

html {
	font-family: 'Suez One', serif;
	font-size: 16px;
}

body {
	height: 100vh;
/* 	width: 100vw; */
	display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
		padding: 1rem;
}

.container {
	position: relative;
}

#quoteBox {
	display: block;
	position: relative;
	border-radius: 6px;
	max-width: 500px;
	padding: 1rem;
	overflow: auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.quote {
	display: block;
	text-align: left;
	font-size: 2rem;
	font-style: bold;
	line-height: 1.2;
	margin-top: 1rem;
	padding: 0rem 0.5rem 1rem 3rem;
}

.author {
	display: block;
	font-family: 'Secular One','Open Sans', sans-serif;
	text-align: right;
	font-size: 1rem;
	font-style: italic;
	padding-right: 2rem;
	margin-bottom: 1rem;
}

#tweetQuote {
	display: flex;
	float:left;
	font-size: 2.3rem;
	padding: 0;
	margin: 0 0 1rem 1.2rem;
}

#renew {
	display:flex;
	float : right;
	font-size: 2.3rem;
	padding: 0;
	margin: 0 1.2rem 1rem 0;
}

a, a:visited, a:hover, a:active {
  color: inherit;
  padding: 0;
	}

svg, .svg-inline--fa {
	vertical-align: 0;
}

#loren {
	display: block;
	font-family: courier, monospace, arial;
	font-size: 0rem;
	opacity: 0;
	text-align: center;
	transform: rotate(270deg);
	position: absolute;
		top:50%;
		bottom: 50%;
		left: -4rem;
}
